<div class="modal fade" id="annoucement" tabindex="-1" role="dialog" aria-labelledby="AnnoucementPage" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="AnnoucementPage">网站公告</h4>
      </div>
      <div class="modal-body">
        <div id="annoucements_error_msg"></div>
<% require 'nokogiri' %>
        <% raw Nokogiri::HTML::fragment(sanitize(simple_format(@annoucements, {}, sanitize: false), tags: %w(br p blockquote em strong code h1 h2 h3 h4 h5 h6 a img), attributes: %w(href target src class style))).to_xml%>
        <%= raw Nokogiri::HTML::fragment(@annoucements).to_xml%>
<% if @current_user && (admin1?(@current_user)) %>
        <table class="table"><tbody><tr><td></td></tr></tbody></table>
        <div>
          <p>请严肃使用管理权限。</p><%'<blockquote>,<p>,<em>,<strong>,<code>,<h1>~<h6>,<a>,<img>'%>
          <%= form_tag '/update_annoucements' ,remote:true %>
          <%= text_area_tag 'annoucement', @annoucements, class:"form-control", style:"height: "+((@annoucements.lines.count()+3)*20).to_s+'px' %>
        </div>
<% end %>
      </div>
      <div class="modal-footer">
        <%= submit_tag '提交', class: "btn btn-success" if @current_user && admin1?(@current_user)%>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
